/BeansContext.properties
/EtiquetasG4GenWrapper_es.properties
/G4GenWrapper_changelog.sql
/GalleryImage.hbm.xml
/LoginContextFactory.properties
/META-INF/
/MensajesG4GenWrapper_es.properties
/aplicacion.xml
/com/
/controladores.xml
/dtds/
/hibernate.cfg.xml
/jndi-jboss.properties
/jndi-websphere.properties
/jndi.properties
/log4j.properties
/logging.properties
/menu.xml
/naviox-users.properties
/naviox.properties
/xava-junit.properties
/xava.properties
/xsd/
